clusterName: "saas-v1"
image:
  repository: gcr.io/heptio-images/ks-guestbook-demo
  tag: {{ readFile "../../../../versions/backend_nonprod.yaml" | fromYaml | pluck "backend_docker_image_tag"  | first | default "latest" | toYaml }}

